body{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
    margin: 0px 8px;
    padding: 4px 8px;
    align-items: center;
    font-family:DIN_bold,Arial,verdana,sans-serif;
    color: #171a20;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02cm;
}
.header{
    height: 679px;
    width: 100%;
    background-image: url(Images/Model3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -25px;
}
.menu ul li a:hover{
    background:#b8b9bd59;
    border-radius: 12px;
}
.navbar{
    width: 100%;
    height: 54px;
    display: flex;
    margin-left: -20px;
    position: fixed;
}
menu a{
    font-size: 13px;
    color: #5c5e62;
    font-family: Gotham SSm;
    font-weight: 500;
    line-height: 21px;

}

.logo{
    width: 240px;
    height: 54px;
    margin-left: 55px;
    align-items: center;
    justify-content: flex-start; 
}
.logo img{
    width: 120px;
    height: 24px;
    margin-top: 20px;
}
.menu li{
    list-style: none;
    float: left;
    font: 400;
    
}
.menu ul{
    margin-right: 150px;
}
.menu{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 8px;
    width: 858px;
    height: 54px;
    margin-top: 0px;
    text-align: center;
    justify-content: flex-end;
}

.log{
    width: 268px;
    height: 54px;
    
}

.log ul li a:hover{
    background:#b8b9bd59;
    border-radius: 12px;
}

.log ul{
    text-decoration: none;
    list-style: none;
    align-items: center;
    display: flex;
    text-align: center;
}

.model{
    width: 100%;
    height: 77px;
    margin-top: 25px;
   
}

.model p{
    
    width: 100%;
    height: 48px;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    line-height: 48px;
    letter-spacing: -0.6px;
    align-items: center;
    font-family:Gotham SSm;
    color: #171a20;
    font-size: 40px;
    line-height: 21px;
    font-weight: 530;
    margin-top: 125px;
    

}
.order{
    margin-left: 50px;
    margin-top: 95px;
}
.order p{
    width: 793px;
    height: 43px;
    font-size: 16px;
    margin-left: 498px;
    margin-bottom: -46px;
}
.order a{
    text-decoration: underline;
    font-size: 15px;
    width: 793px;
    height: 43px;
    font-size: 16px;
    margin-left: 600px;
    margin-bottom: -20px;
    letter-spacing: 0.02cm;

    
}
.btn{
    display: flex;
    margin-left: 400px;
    padding-top: 255px;
}
.btn button{
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
} 

.bt1{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;

}

.header2{
    height: 679px;
    width: 100%;
    background-image: url(Images/ModelY.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -25px;
}
.btn2{
    display: flex;
    margin-left: 400px;
    padding-top: 255px;
}
.btn2 button{
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
} 

.bt2{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;

}
.header3{
    height: 730px;
    width: 100%;
    background-image: url(Images/ModelS.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-50px;
}
.btn3{
    display: flex;
    margin-left: 400px;
    padding-top: 285px;
}
.btn3 button{
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
} 

.bt3{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;

}

.header4{
    height: 730px;
    width: 100%;
    background-image: url(Images/ModelX.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-50px;
}
.btn4{
    display: flex;
    margin-left: 400px;
    padding-top: 285px;
}
.btn4 button{
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
} 

.bt4{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;

}
.header5{
    height: 730px;
    width: 100%;
    background-image: url(Images/SolarPanels.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-50px;
}
.btn5{
    display: flex;
    margin-left: 400px;
    padding-top: 285px;
}
.btn5 button{
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    box-shadow: #393c41 0px 0px 0px 2px;
} 

.bt5{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;

}

.header6{
    height: 730px;
    width: 100%;
    background-image: url(Images/SolarRoof.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-50px;
}
.btn6{
    display: flex;
    margin-left: 400px;
    padding-top: 285px;
    
}
.btn6 button{
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    border-radius: 32px;
    border-width: 3px;
} 

.bt6{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;

}
.header7{
    height: 610px;
    width: 100%;
    background-image: url(Images/Accessories.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-50px;
}
.btn7{
    display: flex;
    margin-left: 400px;
    padding-top: 210px;
}
.btn7 button{
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    padding: 10px 24px;
    margin-left: 160px;
    margin-top: 155px;
    border-radius: 32px;
    border-width: 3px;
    font-weight: bold;
    border: unset;
    font-size: 0.8rem;
    line-height: 14.4px;
    border-style: solid;
} 

.bt7{
    
    cursor: pointer;
    justify-content: space-around;
    padding: 15px 24px;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 5rem;
    font-weight: bold;
    min-width: 15rem;
    border: unset;
    font-size: 0.8rem;
    background: #3d3939;
    line-height: 14.4px;
    border-width: 3px;
    color: #ffffff;
    letter-spacing: 0.02cm;

}
.footer{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 8px;
    width: 858px;
    height: 54px;
    margin-top: 0px;
    text-align: center;
    justify-content: flex-end;
    margin-left: 250px;
}
.footer li{
    list-style: none;
    float: left;
    font-size: 5px;
    letter-spacing: 0.02cm;
    
}
.footer ul{
    margin-right: 150px;
}
.footer a{
    font-size: 13px;
    color: #5c5e62;
    font-family: Gotham SSm;
    font-weight: 500;
    line-height: 21px;
    
}